{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home - Vichyawat Nakarugsa</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Profile - Vichyawat Nakarugsa" />
{#	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />#}
	<meta name="author" content="Vichyawat Nakarugsa" />

  	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href={% static "favicon.ico" %}>

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static "css/flexslider.css" %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static "js/respond.min.js" %}"></script>
	<![endif]-->

	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="index.html">Profile</a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li class="fh5co-active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
				</ul>
			</nav>

			<div class="fh5co-footer">
				<p><small>&copy; 2016 Blend Free HTML5. All Rights Reserved.</small></p>
				<ul>
					<li><a href="https://github.com/EJEunjiyaz" target="_blank"><i class="fab fa-github"></i></a></li>
					<li><a href="https://hub.docker.com/u/ejeunjiyaz" target="_blank"><i class="fab fa-docker"></i></a></li>
					<li><a href="https://www.instagram.com/princevcya" target="_blank"><i class="icon-instagram"></i></a></li>
					<li><a href="mailto:vichyawat.nakarugsa@gmail.com"><i class="far fa-envelope"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">
			<aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url({% static "images/profile-1.jpg" %}); background-position: 68% 44%;">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
					   				<div class="slider-text-inner">
                      <h1><strong>Vichyawat Nakarugsa</strong></h1>
                      <h1>Software and Knowledge Engineering Student</h1>
                      <h2>Kasetsart University</h2>
{#                        <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn" href="#fh5co-narrow-content">Learn More <i class="icon-arrow-right3"></i></a></p>#}
                      <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://github.com/EJEunjiyaz" target="_blank"> <i class="fab fa-github"></i> GitHub</a> <a class="btn btn-primary btn-demo popup-vimeo" href="https://hub.docker.com/u/ejeunjiyaz" target="_blank"> <i class="fab fa-docker"></i>Docker Hub</a> <a class="btn btn-primary btn-learn" href="#fh5co-narrow-content">More <i class="icon-arrow-down3"></i></a></p>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
{#				   	<li style="background-image: url({% static "images/img_bg_2.jpg" %});">#}
{#				   		<div class="overlay"></div>#}
{#				   		<div class="container-fluid">#}
{#				   			<div class="row">#}
{#					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">#}
{#					   				<div class="slider-text-inner">#}
{#					   					<h1>We are Happy to Create Newest Modern Websites</h1>#}
{#											<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#											<p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>#}
{#					   				</div>#}
{#					   			</div>#}
{#					   		</div>#}
{#				   		</div>#}
{#				   	</li>#}
{#				   	<li style="background-image: url({% static "images/img_bg_3.jpg" %});">#}
{#				   		<div class="overlay"></div>#}
{#				   		<div class="container-fluid">#}
{#				   			<div class="row">#}
{#					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">#}
{#					   				<div class="slider-text-inner">#}
{#					   					<h1>Download our Free HTML5 Bootstrap Template</h1>#}
{#											<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#											<p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>#}
{#					   				</div>#}
{#					   			</div>#}
{#					   		</div>#}
{#				   		</div>#}
{#				   	</li>#}
				  	</ul>
			  	</div>
			</aside>

			<div class="fh5co-narrow-content" id="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Skills</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fas fa-code"></i>
							</div>
							<div class="fh5co-text">
								<h3>Backend</h3>
                <h5>Node.js (Express) - Python (Django, Flask)</h5>
								<p>I mainly used Django and Express for backend service. Another language that I rarely use but not precise are Truffle, Go, C++, Java, RISC-V.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fas fa-cloud"></i>
							</div>
							<div class="fh5co-text">
								<h3>Cloud</h3>
                <h5>Docker - Kubernetes - Amazon Web Services</h5>
								<p>Experience in AWS tools, such as EC2, IAM, ELB, Gateway. Alternative use Google Cloud Platform, or Microsoft Azure. I preferred configuration on network parameters, know basic of network traffic management.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fas fa-database"></i>
							</div>
							<div class="fh5co-text">
								<h3>Data</h3>
                <h5>Database (MySQL, MongoDB, Microsoft SQL Server) - Analytics (RapidMiner, scikit-learn)</h5>
								<p>Have ability to create machine learning model of Linear Regression, KNN Classification, Association rule. Can manage database schema on cloud platform, such as, AWS DynamoDB.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="fas fa-sync"></i>
							</div>
							<div class="fh5co-text">
								<h3>CI/CD & Testing</h3>
                <h5>Jenkins - Travis CI - Codecov - Robot Framework - Selenium</h5>
								<p>Experience in automate deployment, checking the test cases coverage. Create test by using techniques, such as, Black Box Testing, Boundary Value Testing, Graphical User Interface Testing.</p>
							</div>
						</div>
					</div>
				</div>
        <div class="animate-box text-center" data-animate-effect="fadeInLeft">
          <p><a href="about.html" class="btn btn-primary">About Me <i class="icon-arrow-right3"></i></a></p>
        </div>
			</div>

			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Recent Work</h2>
				<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://github.com/SukritaEarn/Covid19WorldSituation" class="blog-img" target="_blank"><img src="{% static "images/covid-1.png" %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://github.com/SukritaEarn/Covid19WorldSituation" target="_blank">Covid-19 Around The World</a></h3>
								<span><small>Web Application </small> / <small> API </small> <i class="icon-comment"></i> </span>
								<p>Analyze the Covid-19 situation around the world and the impact to the economic situation from start until now.</p>
								<a href="https://docs.google.com/document/d/18GtP0rLPiUKCUFxaS5H0ibUgyyp8HK8oZGXdNV5zEKM/edit?usp=sharing" class="lead" target="_blank">Document <i class="icon-arrow-right3"></i></a>
                <a href="https://github.com/SukritaEarn/Covid19WorldSituation" class="lead" target="_blank">Repository <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://github.com/Klan300/league_of_saras" class="blog-img" target="_blank"><img src="{% static "images/league_of_saras-1.png" %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://github.com/Klan300/league_of_saras" target="_blank">League of Saras</a></h3>
								<span><small>Game </small> / <small> Web Application </small> <small> <i class="icon-comment"></i> </small></span>
								<p>Web-based game that lets players guess the word. This game contains many types of educational words organized by school subject.</p>
								<a href="https://github.com/Klan300/league_of_saras" class="lead" target="_blank">Repository <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://github.com/EJEunjiyaz/love-your-health-cure-your-symptom" class="blog-img" target="_blank"><img src="{% static "images/love_your_health_and_cure_your_symptom-1.png" %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://github.com/EJEunjiyaz/love-your-health-cure-your-symptom" target="_blank">Love your health & Cure your symptom</a></h3>
								<span><small>Semantic Web </small></span>
								<p>Find the relation of vitamin, symptom, and your body to match the daily food. Let you designed your dishes for better health.</p>
								<a href="https://github.com/EJEunjiyaz/love-your-health-cure-your-symptom" class="lead" target="_blank">Repository <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://github.com/tiemfah/exceed16" class="blog-img" target="_blank"><img src="{% static "images/concentrap-1.png" %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://github.com/tiemfah/exceed16" target="_blank">Concentrap</a></h3>
								<span><small>Microcontroller </small> / <small> Web Application </small> <small> <i class="icon-comment"></i></small></span>
								<p>Help doctor analyze patient who might have attention deficit hyperactivity disorder (ADHD). Use joy game device and create the graphical data.</p>
								<a href="https://github.com/EJEunjiyaz/Concentrap" class="lead" target="_blank">Microcontroller <i class="icon-arrow-right3"></i></a><br>
                <a href="https://github.com/tiemfah/exceed16" class="lead" target="_blank">Web Application <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
				</div>
        <div class="text-center">
          <p><a href="portfolio.html" class="btn btn-primary">Portfolio <i class="icon-arrow-right3"></i></a></p>
        </div>
			</div>

{#			<div id="get-in-touch">#}
{#				<div class="fh5co-narrow-content">#}
{#					<div class="row">#}
{#						<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">#}
{#							<h1 class="fh5co-heading-colored">Get in touch</h1>#}
{#						</div>#}
{#					</div>#}
{#					<div class="row">#}
{#						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">#}
{#							<p class="fh5co-lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
{#							<p><a href="#" class="btn btn-primary">Learn More</a></p>#}
{#						</div>#}
{#						#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
		</div>
	</div>

	<!-- jQuery -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Flexslider -->
	<script src="{% static "js/jquery.flexslider-min.js" %}"></script>


	<!-- MAIN JS -->
	<script src="{% static "js/main.js" %}"></script>

	</body>
</html>

